:root {
    --green: rgb(58, 162, 115);
    --green-light: rgb(79, 192, 141);
    --white: #FFFFFF;
    --white-nav-link: rgb(255, 255, 255, 0.5);
    --gray: rgb(226, 227, 229);
    --black: rgb(0, 0, 0);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}